@charset "utf-8";
@import url('https://fonts.cdnfonts.com/css/times-cg');
@import url('https://fonts.cdnfonts.com/css/heldane-text');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* layout */
/* common */
.wrap{width: 100%; background: #eceae9;}
.inner{width: 80%; margin: 0 auto;}


/* header */
header{font-family: 'Circular, Helvetica', sans-serif ; position:fixed; z-index: 200; width: 100%; color: #fff;}
header:after, header:hover{background: #fff; color: #333; transition: all 0.5s;}
header .inner{width: 90%; margin: 0 auto;}
header .inner .topHeader{display: flex; justify-content: flex-end; margin: 0 auto; height: 2rem; width: 100%;}
header .inner .topHeader a{float: right; align-items: center; width:7%; display: flex; justify-content: flex-end;}
header .inner .topHeader a p{font-size: 15px; font-weight: bold; margin-right:10px;}
header .inner .topHeader a img{width:25px; top: 0; right: 5%; filter: none;}
header:hover .inner .topHeader a img{filter: brightness(0%); transition: all 0.5s;}

header .inner .innerHeader{display: flex; justify-content: space-between; margin: 0 auto; line-height: 90px; width: 100%; height: 90px;}
header .inner .innerHeader .left{display: flex; justify-content:space-between; font-weight: bold; gap:2rem;}
header .inner .innerHeader .left p:hover{border-bottom: 2px solid #333; transition: all 0.5s;}
header .inner .innerHeader .logo{width:13%; position: relative; display: block;}
header .inner .innerHeader .logo img{width:100%;height: 100% ;position: absolute; top: 0; left: 0; filter: none;}
header:hover .inner .innerHeader .logo img{filter: brightness(0%); transition: all 0.5s;}

header .inner .innerHeader .right{display: flex; justify-content:space-between; gap:2rem; width: 20%;}
header .inner .innerHeader .right p{font-weight: bold;}
header .inner .innerHeader .right p:hover{border-bottom: 2px solid #333;}
header .inner .innerHeader .right .icon{display: flex; justify-content: space-between; width:30%; filter: none;}
header:hover .inner .innerHeader .right .icon img{filter: brightness(0%); transition: all 0.5s;}
header .inner .innerHeader .right .icon a{padding: 5px;}



/* visual */
.visual .img{width: 100%; height: 1080px; position: relative;}
.visual .img img{width: 100%; height: 100%; object-fit: cover;}
.visual .textBox{position: absolute; top:70%; left: 5%; color: #fff; font-family: 'Helvetica Neue', sans-serif; line-height: 1.1;} 
.visual .textBox h3{font-size: 27px; margin: 15px 0;} 
.visual .textBox h2{font-size: 65px; font-weight: bold;} 
.visual .textBox p{font-size: 18px; border-bottom: 1.5px solid #fff; width: fit-content; margin-top: 10px; margin: 20px 0;} 


/* Explore */
.explore .inner ul{display: flex; justify-content:space-between; width: 90%; margin: 50px auto;}
.explore .inner ul li{display: flex; justify-content:space-between; position: relative; align-items: center ;text-align: center; width: 32%;}
.explore .inner ul li .box{position: relative; width: 100%; height: auto; overflow: hidden;}
.explore .inner ul li .box .img img{width: 100%; height: 50vh; object-fit: cover;}
.explore .inner ul li .box .txt{position: absolute; top: 70%; left:50%; transform: translate(-50%,-50%); text-align: center; color: #fff;}
.explore .inner ul li .txt h3{font-size: 25px; margin-bottom: 15px;}
.explore .inner ul li .txt a{font-size: 16px; border-bottom: 1.5px solid #fff; line-height: 1.5;}
.explore .inner ul li .txt a:hover{color: gray;border-bottom: 1.5px solid gray;}


/* product */
.product{width: 100%; margin: 50px auto; font-family:'Circular, Helvetica', sans-serif; position: relative; overflow: hidden;}
.product .inner{position: relative; white-space: nowrap; padding-bottom: 10px; scrollbar-width: none;  overflow: visible;}
.product .inner::-webkit-scrollbar {display: none; }
.product .inner.is-dragging {cursor: grabbing; cursor: -webkit-grabbing; user-select: none; } /* 드래그 중 손모양으로 바꿈 */

.product h2{font-size: 65px; margin: 50px auto; width: 95%; font-weight: 800;}
.product .inner ul{display: flex; height: auto; width: max-content ; transform: translateX(0); transition: transform 0.3s ease; padding-left: 5%; overflow-x: auto;} 
.product .inner ul li{padding-right: 20px;}
.product .inner ul li a{display: block;}
.product .inner ul li .img{height: 420px; width: 380px; background: #fff;}
.product .inner ul li .img img{width: 100%; height: 100%; position: relative;}
/* hover */
.product .inner ul .H .img{overflow: hidden;}
.product .inner ul .H .img:hover img{transform: scale(1.1); transition: all 0.5s;}
/* transition */
.product .inner ul .T .img{position: relative;}
.product .inner ul .T .img img{position: absolute; top:0; left: 0; width: 100%; height: 100%; object-fit: cover;} 
.product .inner ul .T .img img.main{opacity: 1; z-index: 1;}
.product .inner ul .T .img img.hov{opacity: 0; z-index: 2;}
.product .inner ul .T .img:hover img.main{opacity: 0;}
.product .inner ul .T .img:hover img.hov{opacity: 1;}
/* txt */
.product .inner ul li .txt{width: 100%; display: flex; justify-content:space-between; margin-top: 5px; font-size: 15px;}
.product .inner ul li .txt .name{font-weight: 600;}
.product .inner ul li .txt .nok{color: gray;}
/* btn */
.product .btn{ position: absolute; top:35%; right: 0.5%; z-index: 10; display: flex; justify-content: space-between; width: 6.5%; opacity: 0; pointer-events: none; transition: opacity 0.5s ease;}
.product .inner:hover .btn , .product .btn:hover {opacity: 1; pointer-events: auto;} 
.product .btn a .img{width: 50px;height: 50px ;background:lightgray; opacity: 0.5;border-radius: 50%; display: flex; justify-content: center; align-items: center;}
.product .btn a .img img{height: 28px;width: 28px; display: block;}


/* sofa */
.sofa .inner .big{width: 90%; display: flex; justify-content: space-between; margin: 80px auto 0; align-items: center;}
.sofa .inner .big .img1{width: 49%; height: auto;}
.sofa .inner .big .img2{width: 49%; height: 800px;}
.sofa .inner .big .img1 img{object-fit: cover; width: 100%; height: 100%;}
.sofa .inner .big .img2 img{object-fit: cover; width: 100%; height: 100%;}
.sofa .inner .txt{font-family:'Circular, Helvetica',sans-serif; margin: 20px auto 0; width: 20%; font-style: italic; font-weight: 500; }
.sofa .inner .txt span{font-family:'Circular, Helvetica',sans-serif; font-style: normal; font-weight: bold;}

/* gem */
.Gem .inner .blue{width: 90%;position: relative; margin: 100px auto;}
.Gem .inner .blue .img{width: auto;height: 70vh;}
.Gem .inner .blue .img img{width: 100%;height: 100%; object-fit: cover;}
.Gem .inner .blue .txtBox{position: absolute; left: 100px; bottom: 120px; color: #fff;}
.Gem .inner .blue .txtBox h2{font-size: 50px; width: 50%; margin-bottom: 20px; font-family: 'Times CG', sans-serif; font-weight:bold;}
.Gem .inner .blue .txtBox a p{border-bottom: 1px solid #fff; width: fit-content; }

/* footer */
footer{width: 100%; background:#353131; color: #fff;}
footer .inner .innerBox{width: 100%; margin: 0 auto;}
footer .inner .topBox{width: 90%; border-bottom: 0.5px solid #aaa; margin: 0 auto; padding: 100px 0; }
footer .inner .topBox .innerTopBox{margin: 0 auto; align-items: center;}
footer .inner .topBox h2{font-size: 28px; font-family: 'Heldane Text', sans-serif; font-style: italic; font-weight: 100; margin: 25px auto; display: flex; justify-content: center;}
footer .inner .topBox .email{display: flex; justify-content: space-between; width: 26%; height: 55px; align-items: center; border: 1px solid #aaa; border-radius: 5px; margin: 0 auto; padding: 0 5px;}
footer .inner .topBox .email a p{color: #fff; font-size: 14px;}
footer .inner .topBox .email p{margin: 10px; color: #aaa; font-size: 14px;}

footer .inner .middleBox{width: 90%; margin: 0 auto; display: flex; justify-content: space-between; font-family:'Circular, Helvetica', sans-serif; font-style: normal; color: #eee; font-weight: bold; font-size: 15px;}
footer .inner .middleBox .box1 {width: 28%; margin: 30px;}
footer .inner .middleBox .box1 li{margin: 10px;}
footer .inner .middleBox li .tit{color: #aaa; font-weight: bold; margin-bottom: 5px;}

footer .inner .middleBox .box2{width: 28%; margin: 30px;}
footer .inner .middleBox .box2 li{margin: 5px;}
footer .inner .middleBox .box2 li .tit{font-weight: bold; color: #aaa;}
footer .inner .middleBox .box2 li a{font-weight: 500; color: #eee;}
footer .inner .middleBox .box2 li a:hover{font-weight: bold; color: #aaa;}

footer .inner .middleBox .box3{width: 28%; margin: 30px;}
footer .inner .middleBox .box3 li{display: flex; flex-direction: column; position: relative;}
footer .inner .middleBox .box3 li .tit{font-weight: bold; color: #aaa; margin: 10px 0;}
footer .inner .middleBox .box3 li a{position: relative; font-size: 15px; font-weight: 400;}
footer .inner .middleBox .box3 li a p{font-weight: 500; color: #eee;}

footer .inner .middleBox .box3 .country{display: none; margin: 0 auto; padding: 12px; border: 0.5px solid #aaa; background: #353131; width: 12vh; height: auto ;text-align: left; position: absolute; top:70px;z-index: 10;}

footer .inner .middleBox .box3 li .pay{display: flex; justify-content: space-between; width: 50%;}
footer .inner .middleBox .box3 li .pay p{width: 42px; height: 24px;}
footer .inner .middleBox .box3 li .pay p img{width:100%; height: 100%;}
footer .inner .middleBox .box3 li .follow{display:flex; justify-content: space-between; width: 180px;}
footer .inner .middleBox .box3 li .follow img{width: 100%; height: 100%;}

footer .inner .bottomBox {width: 90%; margin: 0 auto; align-items: center;}
footer .inner .bottomBox .oslo {position: relative; display: block; margin: 0 auto; text-align: center; width: 100%;}
footer .inner .bottomBox .oslo::before, footer .inner .bottomBox .oslo::after {content: ''; position: absolute; top: 50%; width: 45%; height: 1px; background: #aaa}
footer .inner .bottomBox .oslo::before {left: 0;}
footer .inner .bottomBox .oslo::after {right: 0;}
footer .inner .bottomBox .oslo img{width: 100px; filter: brightness(65%);}
footer .inner .bottomBox .oslo img:hover{filter: brightness(100%); transition: all 0.5s;}
footer .inner .bottomBox span{font-size: 16px; color: gray; display: flex; justify-content: center; padding: 50px 0; font-weight: 500;}





/* 반응형:responsive Web */

.innerHeader2{display: none;}
.Gem .inner .blue .close{display: none;}
.Gem .inner .blue .last{display: none;}

/* 1250px~901px */
@media screen and (max-width:1250px){ 
    header{width: 100%; margin: 0 auto;}
    header .inner{width: 100%; height: auto; object-fit: cover;}
    header .inner .innerHeader{display: flex;}
    header .inner .innerHeader .logo{width: 20%;}
    header .inner .innerHeader .right{gap: 5px; width: 29%;}
    .visual .inner img{width: auto; height: 100%; object-fit: cover;}
    .visual .inner .textBox{max-width: 1000px; top:65%;left: 8%;}
    .visual .inner .textBox h2 {font-size: 58px;}
    .visual .inner .textBox p{font-size: 17px;}
    .inner{width: 100%;}
    .explore .inner ul{width: 95%;}
    .product h2{font-size: 50px;}
    .product .inner ul li .img{width: 256px; height: 335px;}
    .product .inner ul li .txt{font-size: 15px; width: 256px;}
    .product .inner ul li .txt .name{font-weight: normal; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 60%;}
    .product .btn{right: 2%; width: 11%;}
    .sofa .inner .big{width: 95%;}
    .sofa .inner .big .img1{width: 49%; height: auto;}
    .sofa .inner .big .img2{width: 49%; height: 500px;}
    .sofa .inner .txt{width: 30%;margin: 20px auto;}
    .Gem .inner .blue {width: 95%;}
    .Gem .inner .blue .txtBox{width: 95%;}
    footer .inner .topBox{width: 98%; padding: 80px;}
    footer .inner .topBox .email{width: 35%;}
    footer .inner .topBox .email p{font-size: 15px;}
    footer .middleBox{width: 98%;}
    footer .middleBox .box1{margin: 30px 0;}
    footer .middleBox .box2{margin: 30px 0;}
    footer .middleBox .box3{margin: 30px 0; width: 33%;}
    footer .middleBox .box3 li{margin-bottom;: 10px}
    footer .bottomBox{width: 98%; padding: 20px;}
    footer .bottomBox span{font-size: 15px;}
}


/* 900px~770px */
@media screen and (max-width:900px){
    header .inner .innerHeader , header .inner .topHeader{display: none;}
    header .inner .innerHeader2{display: flex; justify-content: space-between; margin: 0 auto; line-height: 80px; width: 100%; font-family: 'Circular, Helvetica', sans-serif;height: 80px;}
    header .inner .innerHeader2 .left2{font-weight: bold; font-family: 15px;width: 10%; text-align: center;}
    header .inner .innerHeader2 .left2 p:hover{border-bottom: 2px solid #333; transition: all 0.5s;}
    header .inner .innerHeader2 .logo2{width: 18%; position: relative;}
    header .inner .innerHeader2 .logo2 img{width:100%; height: 100%; position: absolute;top: 0; left: 0; filter: none;}
    header:hover .innerHeader2 .logo2 img{filter: brightness(0%); transition: all 0.5s;}
    header .innerHeader2 .right2{display: flex; justify-content:space-between; gap:2rem; width: 10%;}
    header .innerHeader2 .right2 p{font-weight: bold;}
    header .innerHeader2 .right2 p:hover{border-bottom: 2px solid #333;}
    header .innerHeader2 .right2 .icon2{display: flex; justify-content: space-between; width:20%; filter: none;}
    header:hover .innerHeader2 .right2 .icon2 img{filter: brightness(0%); transition: all 0.5s;}
    header .innerHeader2 .right2 .icon2 a{padding: 5px;}

    .visual .img{height: 1000px; width: fit-content;;}
    .visual .img img{width: 100%; height: 100%;}
    .visual .textBox{max-width: 700px; top:60%; left: 8%;}
    .visual .textBox h3{font-size: 23px; font-weight: 300;}
    .visual .textBox h2{font-size: 60px;}
    .visual .textBox p{font-size: 15px;}
    .visual .textBox .close{display: inline-block;}
    .visual .textBox .open{display: none;}
    .product .inner{width: 100%;}
    .product .btn{width: 13%;}
    .sofa .inner .big{width: 95%;}
    .sofa .inner .big .img2{width: 48%;height: 440px;}
    .sofa .inner .txt{width: 41%;}
    .Gem .inner .blue{width: 95%;}
    .Gem .inner .blue .txtBox{left: 55px; bottom: 55px}
    .Gem .inner .blue .txtBox h2{width: 70%; font-size: 48px;}
    .Gem .inner .blue .txtBox .close{display: inline-block;}
    footer .inner .topBox .email{width: 58%;}
    footer .inner .bottomBox{width: 100%;}
    footer .inner .bottomBox .oslo:before{width:42%;}
    footer .inner .bottomBox .oslo:after{width:42%;}
}


/* 768px~500px*/
@media screen and (max-width:750px){
    header .inner .innerHeader, header .inner .topHeader{display: none;}
    header .inner .innerHeader2 {display: flex;}
    .Gem .inner .blue .last{display: none;}
    .visual .textBox{left: 3%; top:65%;}
    .explore .inner ul{display: block;}
    .explore .inner ul li{width: 100%; margin-top: 30px;}
    .explore .inner ul li .txt{ top:0; bottom: 140px;}
    .explore .inner ul li .txt a{font-weight: bold;}
    .product h2 {font-size: 40px; font-weight: bold;}
    .product .btn {display: none;}
    .sofa .inner .big{display: block; width: 95%; height: auto;margin: 0 auto;}
    .sofa .inner .big .img1{width: 98%; height: auto; margin-bottom: 10px;}
    .sofa .inner .big .img2{width: 98%; height: auto;}
    .sofa .inner .txt{width: 65%;}
    .Gem .inner .blue .txtBox{bottom:30px; left: 30px;}
    .Gem .inner .blue .txtBox h2{font-size: 40px; width: 90%; line-height: 1.1;}
    .Gem .inner .blue .txtBox h2 .close{display: none;}
    .Gem .inner .blue .txtBox h2 .last{display: block;}
    footer .inner .topBox .email{width: 70%;}
    footer .inner .middleBox{flex-direction: column; margin: 0 auto; display: block;}
    footer .inner .middleBox .box1{width: 45%;}
    footer .inner .middleBox .box2{width: 45%;}
    footer .inner .middleBox .box3{width: 45%;}
    footer .inner .middleBox .box3 li a p{display: flex;}
    footer .inner .bottomBox{width: 100%;}
    footer .inner .bottomBox .oslo:before{width:33%;}
    footer .inner .bottomBox .oslo:after{width:34%;}




}


/* 500px~*/
@media screen and (max-width:480px){
    header .inner .innerHeader, header .inner .topHeader{display: none;}
    header .inner .innerHeader2 {display: flex; width: 85%; margin: 0 auto;}
    .visual .textBox h2{font-size: 50px;}
    .sofa .inner .txt {width:100%;margin: 0 auto;}
    .Gem .inner .blue .txtBox h2 .last{display: none;}
    .Gem .inner .blue .txtBox a p{font-size: 14px;}
    footer .inner .topBox {width: 100%;}
    footer .inner .topBox h2{font-size: 26px; width:293px; margin:10px auto;}
    footer .inner .topBox .email{width:100%;}
    footer .inner .middleBox{margin: 0;}
    footer .inner .middleBox .box1{width: 20%;}
    footer .inner .middleBox .box2{width: 20%;}
    footer .inner .middleBox .box3{width: 20%;}
    footer .inner .bottomBox .oslo:before{width:33%;}
    footer .inner .bottomBox .oslo:after{width:34%;}
}